version: '3'

services:
  web:
    build: .
    container_name: todo_web
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - "8000"
    networks:
      - todo_net

  nginx:
    image: nginx:stable-alpine
    container_name: todo_nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    networks:
      - todo_net

volumes:
  static_volume:

networks:
  todo_net:
